/*
0 - 600px:       Phone
600 - 900px:     Tablet in portrait
900 - 1200px:    Tablet in landscape
[1200-1800px]   is where our normal styles apply
1800 + :       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big desktop
*/
body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: "lato" san-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

@media only screen and (max-width: 56.25em) {
  padding: 0; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-iteration-count: 3;
              animation-delay: 3s;*/ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #777, #00FF7f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1.2rem;
  transition: all .2s;
  margin-right: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #116E01; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #116E01;
  color: #fff; }
  .btn--blue::after {
    background-color: #116E01; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #116E01;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #116E01;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #116E01;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  /* @include respond(tab-port) */ }
  .card__side {
    height: 65rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffff00, #bdb76b); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #116E01, #006400); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #ff6347, #8b0000); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #7ac5cd, #236b8e); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffff00, #bdb76b), url(../img/maize.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #00FF7f, #006400), url(../img/farm-4.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #fa8072, #8b0000), url(../img/rice.jpg); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, #98f5ff, #236b8e), url(../img/sorghum.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 224, 0.85), rgba(189, 183, 107, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 255, 127, 0.85), rgba(0, 100, 0, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(250, 128, 114, 0.85), rgba(139, 0, 0, 0.85)); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(152, 245, 255, 0.85), rgba(35, 107, 142, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 3rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: -21px;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  /* @include respond(tab-port) {
              padding: 2rem;*/ }

.feature-box__icon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  color: #116E01; }

.statement {
  position: relative; }
  .statement__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .statement__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .statement__photo:hover {
      outline: 0.5rem solid #116E01;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .statement:hover .statement__photo:not(:hover) {
    transform: scale(0.95); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story_img {
    width: 100%;
    margin: 0rem 2rem;
    border-radius: 40%; }
  .story_text {
    font-size: 1.6rem;
    color: #fff; }

.testimony {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .testimony {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .testimony {
      transform: skewX(0); } }
  .testimony__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .testimony__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .testimony__shape {
        transform: translateX(-3rem) skewX(0); } }
  .testimony__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .testimony__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .testimony__text {
        transform: skewX(0); } }
  .testimony__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .testimony:hover .testimony__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .testimony:hover .testimony__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.footer-primary {
  background-image: linear-gradient(to right bottom, rgba(0, 100, 0, 0.5), rgba(119, 119, 119, 0.5)), url(../img/farm-6.jpg);
  height: 100%;
  padding: 7rem; }

.footer-nav {
  padding: 2rem; }

.nav-list {
  list-style: none;
  margin: .4rem; }

.nav-link {
  color: #fff;
  text-decoration: none;
  display: block; }

.nav-link:hover {
  color: #00FF7f; }

.nav-item {
  display: inline-block;
  margin-left: 1.7rem; }

.nav-copyright {
  color: #fff;
  font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(17, 110, 1, 0.8), rgba(0, 100, 0, 0.8)), url(../img/image.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(17, 110, 1, 0.8), rgba(0, 100, 0, 0.8)), url(../img/image.jpg); } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    color: #000; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box {
        top: 35%;
        left: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        top: 60%;
        left: 50%; } }

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .nav_list {
    list-style: none;
    margin: .4rem; }
    @media only screen and (max-width: 56.25em) {
      .nav_list {
        margin: .2rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav_list {
        margin: .3rem; } }
  .nav_link {
    color: #fff;
    text-decoration: none;
    display: block; }
  .nav_link:hover {
    color: #00FF7f; }
  .nav_item {
    display: block;
    margin-left: .7rem;
    float: right; }

.section-features {
  background-color: #f7f7f7;
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s; }

.section-stories {
  background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.8), rgba(0, 100, 0, 0.8)), url(../img/farm-6.jpg);
  background-size: cover; }

.section-statement {
  background-color: #f7f7f7;
  padding: 10rem 0; }

.section-featured {
  background-image: linear-gradient(to right bottom, rgba(17, 110, 1, 0.4), rgba(0, 100, 0, 0.4)), url(../img/farm-6.jpg);
  background-size: cover;
  padding: 15rem 0; }

.section-testimonial {
  background-color: #f7f7f7;
  padding: 10rem 0; }

.section-blog {
  background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.8), rgba(0, 100, 0, 0.8)), url(../img/farm-6.jpg);
  background-size: cover;
  height: 100%;
  padding: 10rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }*/ }
