//COLOR
$color-primary: #116E01;
$color-primary-light:#00FF7f;
$color-primary-dark:#006400;


$color-secondary:#ffff00;
$color-secondary-light: #ffffe0;
$color-secondary-dark:#bdb76b;

$color-tertiary:#ff6347;
$color-tertiary-light: #fa8072;
$color-tertiary-dark: #8b0000;

$color-neutral: #7ac5cd;
$color-neutral-light: #98f5ff;
$color-neutral-dark: #236b8e;


$color-black: #000;
$color-white: #fff;

$color-grey-light: #f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark: #777;

//FONT-SIZE
$default-font-size:1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
